:root{
    --default-color: #333;
    --default-background-color: #faf9f2;
    --default-elements-background-color: #fccf03;
    --default-border: 1px solid #333;
    --default-border-radius: 3px;
    --default-margin: 5px;
    --default-padding: 5px;
    --default-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
    color: var(--default-color);
    font-family: var(--default-font-family);
    background: var(--default-background-color);
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header header header header header header header'
        'menu menu menu menu ricerca ricerca utente'
        'main main main main main main main'
        'footer footer footer footer footer footer footer';
}

header{
    grid-area: header;
    background: var(--default-elements-background-color);
    border: var(--default-border);
    padding: var(--default-padding);
    margin: 0px;
}

nav{
    grid-area: menu;
    border-left: var(--default-border);
    padding: var(--default-padding);
    background: grey;
}

#ricerca{
    grid-area: ricerca;
    border-left: var(--default-border);
    padding: var(--default-padding);
    background: red;
}

#utente{
    grid-area: utente;
    border-left: var(--default-border);
    border-right: var(--default-border);
    padding: var(--default-padding);
    background: yellow;
}

main{
    display: grid;
    grid-area: main;
    min-height: 500px;
    border: var(--default-border);
    border-bottom: none;
    align-items: center;
    justify-items: center;
}

fieldset{
    margin: var(--default-margin);
    font-size: larger;
    height: 300px;
    width: 300px;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
}

fieldset legend {
    text-align: center;
    text-decoration: underline;
}

form{
    width: fit-content;
    height: fit-content;
    margin: auto;
    vertical-align: central;
}

form input{
    border: var(--default-border);
    font-size: large;
    background: #FFF;
    padding: var(--default-padding);
    margin-bottom: 5px;
    border-radius: var(--default-border-radius);
}

form input[type="submit"]{
    float: right;
    margin: var(--default-margin);
    margin-right: 0px;
    background: var(--default-elements-background-color);
}

footer{
    grid-area: footer;
    border: var(--default-border);
    background: var(--default-elements-background-color);
    padding: 5px;
}

footer address{
    display: inline;
    margin-right: 10px;
}