:root{
    --default-color: #333;
    --default-background-color: #faf9f2;
    --default-elements-background-color: #fcba03;
    --default-elements-background-color-2: #ffdc7a;
    --default-border: 1px solid #333;
    --default-border-radius: 3px;
    --default-margin: 5px;
    --default-padding: 5px;
    --default-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
    color: var(--default-color);
    font-family: var(--default-font-family);
    background: var(--default-background-color);
    margin: 0px;
    display: grid;
    grid-template-areas:
        'header'
        'menu'
        'contenuto';
}

#header-principale{
    grid-area: header;
    background: var(--default-elements-background-color);
    border: var(--default-border);
    padding: var(--default-padding);
    margin: 0px;
}

#barra-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav{
    border-left: var(--default-border);
    padding: var(--default-padding);
    background: grey;
    flex-grow: 100;
}

#ricerca{
    display: flex;
    align-items: center;
    border-left: var(--default-border);
    padding: var(--default-padding);
    width: fit-content;
}

#ricerca input[type="text"]{
    font-size: medium;
    padding: 0px;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}

#ricerca form button[type="submit"]{
    background-color: var(--default-elements-background-color);
    cursor: pointer;
    font-size: large;
    padding: auto;
}

#ricerca input[type="text"], #ricerca form button[type="submit"]{
    vertical-align: middle;
    margin: 0px;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    height: 40px;
}

#icona-ricerca{
    vertical-align: middle;
    font-size: 30px;
}

#utente{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: var(--default-border);
    border-right: var(--default-border);
    padding: var(--default-padding);
    width: fit-content;
}

#utente p{
    font-style: italic;
    font-weight: bold;
}

#icona-utente{
    font-size: 40px;
    cursor: pointer;
}

nav, #ricerca, #utente{
    background-color: var(--default-elements-background-color-2);
}

#contenuto{
    grid-area: contenuto;
    border: var(--default-border);
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

main{
    flex-grow: 100;
    display: grid;
    border: var(--default-border);
    border-bottom: none;
    align-items: center;
    justify-items: center;
    min-height: 0px;
}

fieldset{
    margin: var(--default-margin);
    font-size: larger;
    height: 300px;
    width: 300px;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
}

fieldset legend {
    text-align: center;
    text-decoration: underline;
}

form{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

form input{
    border: var(--default-border);
    font-size: large;
    background: #FFF;
    padding: var(--default-padding);
    margin-bottom: 5px;
    border-radius: var(--default-border-radius);
}

form input[type="submit"]{
    float: right;
    margin: var(--default-margin);
    margin-right: 0px;
    background: var(--default-elements-background-color);
    cursor: pointer;
}

h1 a{
    text-decoration: none;
    color: var(--default-color);
}

footer{
    align-self: flex-end;
    border: var(--default-border);
    background: var(--default-elements-background-color);
    padding: 5px;
    height: fit-content;
}

footer address{
    display: inline;
    margin-right: 10px;
}